* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.imgLogo {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login {
  border: 1px solid gray;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 40%;

}
input {
  margin-top: 5px;
}

